In [1]:
import pandas as pd
import numpy as np

In [4]:
train_df = pd.read_csv('train_v9rqX0R.csv')
test_df = pd.read_csv('test_AbJTz2l.csv')

In [6]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
train_df.shape

(8523, 12)

In [10]:
test_df.shape

(5681, 11)

# predicting mean

In [12]:
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [31]:
train_y = train_df['Item_Outlet_Sales']

In [22]:
train_y.mean()

2181.2889135750365

In [28]:
y_pred = [train_y.mean() for i in range(train_y.shape[0])]

In [27]:
from sklearn.metrics import mean_squared_error

In [58]:
mse = mean_squared_error(train_y, y_pred)

In [59]:
mse

2911799.2582300375

# using linerar regression for predction

## we will use only two features

In [40]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [33]:
lreg = LinearRegression()

In [41]:
X = train_df.loc[:,['Item_MRP','Outlet_Establishment_Year']]
Y = train_df.loc[:,['Item_Outlet_Sales']]

In [43]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [47]:
lreg.fit(X_train,Y_train)

LinearRegression()

In [52]:
X_test_pred = lreg.predict(X_test)

In [56]:
mse_ = np.mean((Y_test - X_test_pred)**2)

In [60]:
mse_         # note that the mse has reduces by increasing the number of feature

Item_Outlet_Sales    1.940612e+06
dtype: float64

In [63]:
lreg.coef_

array([[ 15.66990184, -12.87976037]])

In [64]:
lreg.score(X_test,Y_test)      #  R score

0.3222952741218683

that is only 32% of the variance is explained by the two features that are considered.

## linear reg model with more variables

In [67]:
train_df.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

we add 'Item_weight' to the feature column

In [71]:
X = train_df.loc[:,['Item_MRP','Outlet_Establishment_Year', 'Item_Weight']]
Y = train_df.loc[:,['Item_Outlet_Sales']]

In [90]:
X.Item_Weight = X.Item_Weight.fillna(X['Item_Weight'].mean())

In [91]:
#splitting the data into train and test
X_train,X_test,Y_train,Y_test = train_test_split(X,Y)

In [96]:
lreg2 = LinearRegression()

In [98]:
lreg2.fit(X_train,Y_train)

LinearRegression()

In [99]:
lreg2.predict(X_test)

array([[3321.18652903],
       [2116.3873975 ],
       [2443.32521586],
       ...,
       [1422.06680092],
       [1832.99170454],
       [2236.70749019]])

In [104]:
mse = np.mean((Y_test - lreg2.predict(X_test))**2)

In [105]:
mse            #mse continues to reduce after adding extra feature

Item_Outlet_Sales    1.891933e+06
dtype: float64

In [106]:
lreg2.score(X_test,Y_test)       #increase in the R score

0.3405010042810541

In [108]:
lreg2.coef_

array([[ 15.45271923, -11.74274841,  -2.22994167]])

The only drawback of R^2 is that if new predictors (X) are added to our model, R2 only increases or remains constant but it never decreases. We can not judge that by increasing complexity of our model, are we making it more accurate?

# Using all the features for prediction